<footer class="mx-auto flex p-2 h-[420px] bg-black">
  <div class="textfooter flex">
    <div class="flex flex-col text-white ml-10 mt-20">
      <img src="/images/logocircle.png" alt="logo" class="hover:scale-110 transition-transform duration-300">
    </div>

    <div class="flex flex-col text-white ml-10 mt-20">
      <h1 class="text-2xl font-semibold">Our team</h1>
      <a href="#" class="hover:text-green-400 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:translate-x-1 transition-transform duration-300">About Us</div>
      </a>
      <a href="#" class="hover:text-green-400 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:translate-x-1 transition-transform duration-300">Team</div>
      </a>
      <a href="#" class="hover:text-green-400 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:translate-x-1 transition-transform duration-300">What we do</div>
      </a>
      <a href="#" class="hover:text-green-400 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:translate-x-1 transition-transform duration-300">Contact</div>
      </a>
    </div>

    <div class="flex flex-col text-white ml-10 mt-20">
      <h1 class="text-2xl font-semibold">More</h1>
      <a href="#" class="hover:text-green-400 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:translate-x-1 transition-transform duration-300">Projects</div>
      </a>
      <a href="#" class="hover:text-green-400 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:translate-x-1 transition-transform duration-300">Events</div>
      </a>
      <a href="#" class="hover:text-green-400 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:translate-x-1 transition-transform duration-300">Donate</div>
      </a>
      <a href="#" class="hover:text-green-400 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:translate-x-1 transition-transform duration-300">Blog</div>
      </a>
    </div>

    <div class="flex flex-col text-white ml-10 mt-20">
      <h1 class="text-2xl font-semibold">Connect</h1>
      <a href="#" class="hover:text-blue-500 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:scale-105 transition-transform duration-300">Facebook</div>
      </a>
      <a href="#" class="hover:text-pink-500 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:scale-105 transition-transform duration-300">Instagram</div>
      </a>
      <a href="#" class="hover:text-blue-300 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:scale-105 transition-transform duration-300">Twitter</div>
      </a>
      <a href="#" class="hover:text-blue-600 transition-colors duration-300">
        <div class="text-gray-400 text-base mt-[5vh] hover:scale-105 transition-transform duration-300">LinkedIn</div>
      </a>
    </div>
  </div>

  <div class="mail flex flex-col text-white ml-[200px] mt-20">
    <h1 class="text-white font-bold text-6xl">Get In Touch</h1>
    <div class="flex items-center mt-[60px]">
      <input 
        type="text" 
        placeholder="Your email" 
        class="w-[400px] h-[50px] px-4 text-black border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-green-500 transition-all duration-300 hover:scale-105"
      >
      <button 
        class="h-[50px] px-6 bg-white text-black font-semibold rounded-r-md shadow-md hover:bg-green-500 hover:text-white transition-all duration-300 hover:scale-105">
        Subscribe
      </button>
    </div>
  </div>
</footer>
