<head>
  <link rel="stylesheet" href="/css/navbar.css">
</head>
<nav class="navbar ">
  <div class="navbar-container">
    <div class="logo-container">
      <img class="logo" src="/images/logo.png" alt="NGO Logo" />
    </div>

    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/wedo">What We Do</a></li>   
      <li><a href="/news">News</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>

    <div class="nav-right">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fas fa-envelope"></i></a>
      <a href="/donate" class="donate-btn">Donate</a>

    </div>
  </div>
</nav>
