<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/public/css/homepage.css" />
    <link rel="stylesheet" href="/public/css/about.css" />
</head>
<body>
    <header>
        <%- include('partials/navbar') %>
    </header>
    <h1>NEWS PAGE</h1>
    <section class="flex justify-center items-center ml-[270px] ">
        <div class="container">
            <div class="row">
                <br>    
                <%- include('partials/update') %>
    
            </div>
        </div>
    </section>
    
</body>
</html>